<footer class="site-footer">

  <div class="wrap container-fluid">

    <div class="info col-md-6 col-xs-12">
      <img class="logo" src="/assets/logo-small.png" />

      <ul>
        <li class="site-title">{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>

        <li>
          {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i>
          </a>
          {% endif %}

          {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter"></i>
          </a>
          {% endif %}

          <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
            <i class="fa fa-rss"></i>
          </a>
        </li>

      </ul>
    </div>

    <div class="col-md-6 col-xs-12">
      <p class="text">Joise is a 2D, 3D, 4D and 6D modular noise library written in Java, derived from Joshua Tippetts' Accidental Noise Library, and maintained by SudoPlay Games.</p>
      <p class="text">Joise code &copy;{{ site.time | date: '%Y' }} Jason Taylor. Released as open-source under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, Version 2.0</a>.</p>
      <p class="text">{{ site.description }}</p>
      <p class="text">&copy;{{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
    </div>

    <div class="col-md-12">
      <p></p>
    </div>

  </div>

</footer>