/* http://paletton.com/#uid=73i0u0kd6Os2Z+18cVwhvF5lqvp */

a.btn-success {
  color: #fff;
}

a.btn-primary {
  color: #000;
}

pre {
  overflow: auto;
}

.navbar {
  border-top: #4362a8 solid 4px;
  border-color: #4362a8;
}

.navbar .container {
  padding-left: 4px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #000;
}

.navbar-default .brand-text {
  padding: 0px;
  font-family: 'Six Caps', sans-serif;
  line-height: 50px;
  font-size: 42px;
  letter-spacing: 1px;
  color: #4362a8;
  padding-left: 100px;
}

.navbar-default .brand-logo {
  position: absolute;
  top: 0px;
}

.navbar-default .brand-text:hover {
  color: #000;
}

.navbar-default .navbar-nav>li>a {
    color: #4362a8;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #4362a8;
  color: #fff;
  font-weight: bold;
  height: 50px;
  border-bottom: #b9caf1 solid 3px;
}

.nav>li>a {
  padding-right: 14px;
}

.site-footer .logo {
  float: left;
  margin-right: 8px;
  opacity: 0.5;
}

.site-footer ul {
  display: block;
  float: left;
}

.site-footer .site-title {
  height: 40px;
  font-family: 'Six Caps', sans-serif;
  line-height: 40px;
  font-size: 32px;
  letter-spacing: 1px;
}

.site-footer .info, .site-footer .col-xs-12 {
  padding-left: 0px;
}

.site-footer a {
  color: #828282;
}

.site-footer a:hover {
  color: #000;
}

.btn-primary {
  background-color: #53b5b5;
  border-color: #2c6161;
}

.btn-primary:hover {
  background-color: #5fcfcf;
}

a.btn-primary {
  color: #fff;
}

.update-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

#content-updating, #content-error {
  display: none;
}

.post-excerpt {
  color: #555;
}

.pagination {
  display: block;
  text-align: center;
}

.pagination .next {
  float: left;
}

.pagination .previous {
  float: right;
}

.pagination .page-number {
  font-size: 12px;
  color: #555;
}

.invisible {
  visibility: none;
}

table {

}

td, th {
  padding: 8px;
  border: 1px solid #ccc;
}

code {
  color: #4362A8;
}

/*
 * =================================================================
 */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/*
 * =================================================================
 */

.affix {
  top: 80px;
}

.title {
  font-weight: bold;
  text-align: center;
}

.btn-outline {
  border-color: #4362A8;
  background-color: #FFFFFF;
  color: #4362A8;
}

.btn-outline:hover {
  border-color: #4362A8;
  background-color: #4362A8;
  color: #fff;
}

.lead.download {
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 24px;
}

.lead.download.row2 {
  margin-top: 16px;
}

.btn i {
  margin-right: 6px;
}

#toc .active a, #toc a:hover {
  color: #4362A8;
  border-left-color: #4362A8;
}

#home {
  background-color: #4362A8;
  min-height: 512px;
  padding-top: 48px;
  padding-bottom: 128px;
  color: #E8EEFC;
  text-align: center;
}

#home #logo {
  margin: 0 auto;
  text-align: center;
  padding-top: 110px;
}

#home p.lead {
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  margin-top: 0px;
  max-width: 75%;
}

#home p.version {
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  margin-top: 8px;
  color: #B9CAF1;
}

#home .btn {
  font-size: 20px;
  margin: 0 auto;
  margin-top: 32px;
  color: #E8EEFC;
  background-color: #4362A8;
  border-color: #E8EEFC;
}

#home .btn:hover {
  color: #4362A8;
  background-color: #B9CAF1;
  border-color: #B9CAF1;
}

#features {
  background-color: #E8EEFC;
  text-align: center;
  border-bottom: 1px solid #B9CAF1;
  padding-top: 64px;
  padding-bottom: 128px;
}

#features h3 {
  margin-top: 16px;
}

#features .lead {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#features .row {
  padding-top: 64px;
  padding-bottom: 64px;
}

#features .feature-img {
  width: 128px;
  height: 128px;
}

#features ul.badge-list {
  list-style: none;
  margin-top: 16px;
}

#features ul.badge-list li {
  list-style: none;
}

#showcase {
  background-color: #E8EEFC;
  padding-top: 64px;
  padding-bottom: 128px;
}

#showcase p.lead {
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
}

#showcase .img-showcase {
  margin-bottom: 32px;
}

/*
 * =================================================================
 */

@media (min-width: 1024px) {
  #features .feature-img {
    width: 256px;
    height: 256px;
  }
}

@media (min-width: 1024px) {
  #features .feature-img {
    width: 192px;
    height: 192px;
  }
}

@media (max-width: 992px) {
  .navbar-default .brand-text {
    display: none;
    margin-left: -20px;
  }
}

@media (max-width: 768px) {
  #features p {
    max-width: 50%;
    margin: 0 auto;
  }
  #features .feature-img {
    margin-top: 32px;
  }
  #features button.btn {
    margin-top: 16px;
  }
  #features .row {
    padding-top: 16px;
    padding-bottom: 64px;
  }
  .navbar-default .brand-text {
    display: inline;
  }
  img.brand-logo {
    margin-left: 16px;
  }
}

