<!DOCTYPE html>
<!--<html manifest="/manifest.appcache">-->

  {% include head.html %}

    <body data-spy="scroll" data-target="#toc" data-offset="16">

    {% include header.html %}

    {% if page.url == "/" %}

    {{ content }}

    {% elsif page.url == "/index.html" %}

    {{ content }}

    {% else %}

    <div class="main-container">
      <header class="page-header">
        <div class="wrap row">
          <div class="col-md-12">
            <h1>{{ page.title }}</h1>
            <p class="lead">{{ page.description }}</p>
          </div>
        </div>
      </header>
      <div class="wrap row">
      {{ content }}
      </div>
    </div>

    {% endif %}

    {% include footer.html %}

    </body>
</html>